body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F1F3F4;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.search {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.search__input-label {
  display: block;
  margin: 0 auto;
}

.search__input-wrapper {
  text-align: center;
}

.search__input-label:before {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-weight: 400;
}

.label {
  position: relative;
}

.label::before {
  content: attr(data-label);
  top: -30px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: rgba(222,226,0.9);
  color: rgba(0,0,0,0.5);
  font-weight: 700;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  outline: none;
}

.search__input {
  margin-top: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  min-height: 26px;
  border: 1px solid #b6b6b6;
  padding-left: 35px;
  padding-right: 20px;
  border-radius: 3px;
  margin: 0 auto;
}

.clips__items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 10px;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 0 3px;
  padding: 0;
  font-weight: 400;
  font-size: 8px;
  color: black;
  text-align: center;
  background: #fff;
  border: 2px solid #b6b6b6;
  border-radius: 50%;
  cursor: pointer;
}

.current, .button:hover:not(.current) {
  background: red;
  border-color: red;
  color: white;
}

.button:focus:not(.current) {
  outline: none;
  border: 2px solid red;
}

.hidden {
  display: none;
}
